.home-container {
  min-height: 80vh;
  background: white; 
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.home-content {
  max-width: 800px;
}

.greeting {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
}

.highlight {
  color: #d40000;
  font-weight: bold;
  font-size: 3rem;
}

.large-name {
  font-size: 2.4rem; /* Larger name */
}


.typing-intro {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #035058;
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  color: black;
}

.github-link {
  background-color: #ea0404;
  display: inline-block;
  padding: 12px 25px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: background 0.3s ease;
}

.github-link:hover {
  background-color: #6c57f6;
}

.github-link i {
  margin-right: 8px;
}
