* {
  font-family: 'Poppins', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: black;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

@keyframes colorChange {
  0% { color: white }
  25% { color: #a9c8f1; }
  50% { color: #e27265; }
  75% { color: #f09cc3; }
  100% { color: #c5ff58; }
}

.logo-text {
  animation: colorChange 4s infinite;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
}


.navbar {
  display: flex;
  gap: 35px;
}

/* Underline Animation */
.navbar a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #58a6ff;
  transition: width 0.3s ease-in-out;
}
.navbar a:hover::after,
.navbar a.active::after {
  width: 100%;
}

.navbar a:hover,
.navbar a.active {
  color: #58a6ff;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  transition: color 0.3s;
  font-weight: bold;
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #58a6ff;
  transition: width 0.3s ease-in-out;
}

.navbar a:hover::after {
  width: 100%;
}

.navbar a:hover {
  color: #58a6ff;
}

.active {
  color: #58a6ff;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }
}
